= simple_form_for(@agent) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :uuid
    = f.input :a_model
    = f.input :a_make
    = f.association :user, label_method: :handle

  .form-actions
    = f.button :submit
