%h1 Lista de agentes

%table.table
  %thead
    %tr
      %th UUID
      %th Modelo
      %th Fabricante
      %th Usuario
      %th
      %th
      %th

  %tbody
    - @agents.each do |agent|
      %tr
        %td= agent.uuid
        %td= agent.a_model
        %td= agent.a_make
        %td= agent.user&.handle
        %td= link_to 'Mostrar', agent
        %td= link_to 'Editar', edit_agent_path(agent)
        %td= link_to 'Borrar', agent, method: :delete, data: { confirm: '¿Estás seguro?' }

%br

= link_to 'Nuevo agente', new_agent_path
