%p#notice= notice

%p
  %b UUID:
  = @agent.uuid
%p
  %b Model:
  = @agent.a_model
%p
  %b Marca:
  = @agent.a_make
%p
  %b Usuario:
  = @agent.user

= link_to 'Editar', edit_agent_path(@agent)
\|
= link_to 'Atrás', agents_path
